.messages-container {
  flex: 1;
  padding: 20px;
  background-color: var(--persona-dark-red);
  color: #fff;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  background-color: #ff0000;
  margin-left: auto;
  flex-direction: row-reverse;
}

.received {
  background-color: #2a2a2a;
  margin-right: auto;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-content-right {
  align-items: flex-end;
}

.message-content-left {
  align-items: flex-start;
}

.message-text {
  margin: 0;
}

.message-image {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.message-date {
  font-size: 0.7rem;
  color: #999;
  margin: 5px 0 0;
  text-align: right;
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-avatar-left {
  margin-right: 10px;
}

.message-avatar-right {
  margin-left: 10px;
}

.chat-start .chat-bubble {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.chat-start .chat-bubble::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #ffffff;
  z-index: 1;
}


.chat-start .chat-bubble {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.chat-start .chat-bubble::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 18px solid #ffffff;
  z-index: 1;
}

.chat-start .chat-bubble::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 16px solid #000;
  z-index: 2;
}

.chat-end .chat-bubble {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #000000;
  margin-left: auto;
}

.chat-end .chat-bubble::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-35%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 20px solid #000000;
  z-index: 1;
}

.chat-end .chat-bubble::before {
  content: '';
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 11px solid #ffffff;
  z-index: 2;
}

.message-image {
  max-height: 500px;
  margin-bottom: 0.5rem;
}