.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.flip-container {
  width: 35vw;
  max-width: 450px;
  min-width: 300px;
  perspective: 1000px;
}

.flip-face {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.flip-face img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.flip-back {
  transform: rotateY(180deg);
}

.flip-container.joker {
  aspect-ratio: 4 / 3;
}

.flip-container.text {
  aspect-ratio: 3 / 1;
}

@media (max-width: 768px) {
  .flip-container {
    width: 60vw;
    max-width: 350px;
    min-width: 250px;
  }

  .loading-container {
    gap: 0.3vh;
  }
}

@media (max-width: 480px) {
  .flip-container {
    width: 70vw;
    max-width: 300px;
    min-width: 200px;
  }
}