@import "tailwindcss";
@plugin "daisyui";
@import './assets/forms.css';

:root {
  --persona-red: #FF0000;
  --persona-dark-red: #AB0000;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Optima Nova LT Black', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: 'Optima Nova LT Black';
  src: local("OptimaNovaLTBlack"),
    url('./assets/fonts/OptimaNovaLTBlack.otf') format('opentype');
}

@font-face {
  font-family: 'Earwig Factory';
  src: local("EarwigFactory"),
    url('./assets/fonts/EarwigFactory.otf') format('opentype');
}

p {
  font-family: 'Optima Nova LT Black';
}

h1 {
  font-family: 'Earwig Factory';
  color: white;
}

.font-earwig {
  font-family: 'Earwig Factory', cursive;
}