@import "tailwindcss";
@plugin "daisyui";
@plugin "@designbycode/tailwindcss-text-stroke";
@import './assets/styles/Forms.css';

@theme {
  --color-transparent-black: rgba(0, 0, 0, 0.25);
  --color-persona-dark-red: #AB0000;
  --color-table-grey: #353535;
}

* {
  cursor: url('./assets/images/icons/cursor.png'), auto;
}

:root {
  --persona-red: #FF0000;
  --persona-dark-red: #AB0000;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Optima Nova LT Black', sans-serif;
  color: white;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

@font-face {
  font-family: 'Optima Nova LT Black';
  src: local("OptimaNovaLTBlack"),
    url('./assets/fonts/OptimaNovaLTBlack.otf') format('opentype');
}

@font-face {
  font-family: 'Earwig Factory';
  src: local("EarwigFactory"),
    url('./assets/fonts/EarwigFactory.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local("RobotoCondensed"),
    url('./assets/fonts/RobotoCondensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Palanquin Dark';
  src: local("PalanquinDark"),
    url('./assets/fonts/PalanquinDark.ttf') format('truetype');
}

p {
  font-family: 'Optima Nova LT Black';
}

h1 {
  font-family: 'Earwig Factory';
  color: white;
  /*font-size: 5rem;*/
}

.font-earwig {
  font-family: 'Earwig Factory', cursive;
}

.font-header {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 500;
}

.home {
  background-image: url('./assets/images/backgrounds/stars.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.gradient {
  background: -webkit-linear-gradient(#FFCF24, #E14400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-border {
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000
}

.white-border {
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff
}

h1 {
  scroll-margin-top: 5rem;
}

textarea:focus {
  outline: none !important;
}

.box-shadow {
  box-shadow: 8px 8px black;
}

@media (max-height: 800px) {
  .main {
    padding-top: 10rem;
  }

  .arrow {
    margin-top: 0;
    margin-bottom: 5rem;
  }
}